:root {
    --black:  #ffffff
    --white:    #000000
}

.grid-1 {
    display: grid;
    grid-template-rows: 720px 2fr 2fr

}

.super-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10%;
}

.bio-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

